* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #2d2d2d;
  padding: 5%;
}

:root {
  --main-color: #1b1b1b;
  --secondary-color: #112fa7;
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(./assets/Ubuntu/Ubuntu-Regular.ttf);
}

.links {
  display: none;
}

h2 {
  font-size: 1.5rem;
  line-height: 125%;
  padding: 1rem 0rem;
}

.logo {
  display: flex;
  align-items: center;
  line-height: 0.5rem;
  flex-direction: column;
}

.logo img {
  display: flex;
  padding: 10px;
}

.logo h2 {
  color: rgb(255, 255, 255);
  font-family: "ubuntu-regular";
}

.front-page {
  min-height: 100vh;
}

.point1 {
  margin-top: 25vh;
  font-family: "ubuntu-regular";
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 12px black;
}

.point1 h2 {
  font-size: 2rem;
}

.point1 h4 {
  font-size: 0.7rem;
  letter-spacing: 1.7px;
  line-height: 125%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
