* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f1f1f;
}

:root {
  --main-color: #1b1b1b;
  --secondary-color: #112fa7;
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(./assets/Ubuntu/Ubuntu-Regular.ttf);
}

.links {
  display: none;
}

h2 {
  font-size: 1.5rem;
  line-height: 125%;
  padding: 1rem 0rem;
}

.logo {
  display: flex;
  align-items: center;
  width: 1.5rem;
  line-height: 0.5rem;
}

.logo h1 {
  font-family: "ubuntu-regular", sans-serif;
  flex-direction: row;
  display: flex;
  line-height: 1.5rem;
}

.logo img {
  height: 150px;
  width: 120px;
  line-height: 0%;
}

.front-page {
  min-height: 100vh;
  background: rgb(243, 241, 240);
}

.point1 {
  background-color: #112fa7;
  font-family: "ubuntu-regular", sans-serif;
  justify-content: center;
  text-align: center;
  color: #c1c3c8;
}

.point1 h2 {
  font-size: 1.5rem;
}

.point1 h4 {
  font-size: 0.8rem;
  letter-spacing: 1.7px;
}
